{% extends 'AppCentroSalud/padre.html' %} {% load static %} {% block contenidoQueCambia %}

<h1>Doctores</h1>
<div class="container">
	<form action="{% url 'doctoresInsertar' %}" method="POST">
		{% csrf_token %}
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputNombre">Nombre</label>
				<input type="text" class="form-control" id="inputNombre" name="inputNombre" required />
			</div>
			<div class="form-group col-md-6">
				<label for="inputApellido">Apellido</label>
				<input type="text" class="form-control" id="inputApellido" name="inputApellido" required />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-4">
				<label for="inputDocumento">Documento</label>
				<input type="text" class="form-control" id="inputDocumento" name="inputDocumento" placeholder="123456789" required />
			</div>
			<div class="form-group col-md-8">
				<label for="inputEmail">E-Mail</label>
				<input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="algunemail@algunproveedor.com" required />
			</div>
		</div>

		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="inputTelefono">Telefono</label>
				<input type="text" class="form-control" id="inputTelefono" name="inputTelefono" />
			</div>
			<div class="form-group col-md-6">
				<label for="selectEspecialidad">Especialidad</label>
				<select id="selectEspecialidad" name="selectEspecialidad" class="form-control">
					<option value="1">Cardiologia</option>
					<option value="2">Gastroenterologia</option>
					<option value="3">Faringolaringologia</option>
					<option value="4">Neurologia</option>
					<option value="5">Nutricion</option>
				</select>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Agregar</button>

		<!-- {% csrf_token %}
		<table>
			{{ miFormulario.as_table }}
		</table>
		<input type="submit" value="Enviar" /> -->
	</form>
</div>

{% endblock %}
