{% extends 'AppCentroSalud/padre.html' %} {% load static %} {% block contenidoQueCambia %}

<h1>Leer Pacientes</h1>
<div class="container">
	{% for f in object_list %}
	<div class="row mt-3">
		<li>{{f.nombre}}</li>
		<li>{{f.apellido}}</li>
		<li>{{f.documento}}</li>
		<li>{{f.telefono}}</li>
		<li>{{f.email}}</li>
	</div>
	<div class="row mt-3">
		<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="{% url 'pacienteDetalle' f.id %}">Detalle Pacientes</a>
		<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="{% url 'pacienteEliminar' f.id %}">Eliminar Pacientes</a>
		<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="{% url 'pacienteModificar' f.id %}">modificar Pacientes</a> 
	</div>

	{% endfor %}
	<div class="row mt-3">
		<a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" href="{% url 'pacienteInsertar' %}">Insertar Pacientes</a>
	</div> 
</div>

{% endblock %}
